
#cookie-policy-bar {
  background-color:#2C2A74;
  color:#fff;
  position:fixed;
  bottom:0;
  width:100%;
  z-index:1000;
  text-align:center;
  font-size:13px;
}

#cookie-policy-bar #cookie-policy-accept-button {
  background-color:#DB87C9;
}

#cookie-policy-bar #cookie-policy-accept-button:hover {
  background-color:#d269bb;
}

#cookie-policy-bar #cookie-policy-read-button {
  background-color:#999999;
}

#cookie-policy-bar #cookie-policy-read-button:hover {
  background-color:#858585;
}

#cookie-policy-bar #cookie-policy-message-p a {
  color:#fff;
  font-weight:bold;
  line-height:1;
  padding:5px 10px 6px;
  display:inline-block;
  text-shadow:0px -1px 1px rgba(0, 0, 0, 0.25);
  transition:color 0.2s linear 0s;
  outline:medium none;
  text-decoration:none;
  border-bottom:1px solid rgba(0, 0, 0, 0.25);
  cursor:pointer;
  position:relative;
  margin:auto 10px;
}
